In [2]:
import sqlite3

In [4]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    CREATE TABLE IF NOT EXISTS Books(Title TEXT, Author TEXT, Year_published INT, Genre TEXT)
    """
    cursor.execute(query)

In [5]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    INSERT INTO Books (Title, Author, Year_published, Genre) Values (?, ?, ?, ?)
    """
    values = [
        ("To Kill a Mockingbird", "Harper Lee", 1960, "Fiction"),
        ("1984", "George Orwell", 1949, "Dystopian"),
        ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Classic")
    ]
    cursor.executemany(query, values)

In [ ]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    UPDATE Books SET Year_published = 1984 WHERE Title = '1984';
    """
    cursor.execute(query)

In [12]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    SELECT Title, Author From Books WHERE Genre = 'Dystopian';
    """
    data = cursor.execute(query)
data.fetchall()

[('1984', 'George Orwell')]

In [ ]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    DELETE FROM Books WHERE Published_year < 1950;
    """
    cursor.execute(query)

In [26]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    ALTER TABLE Books ADD COLUMN Rating FLOAT;
    UPDATE Books SET Rating = 4.8 WHERE Title = 'To Kill a Mockingbird';
    UPDATE Books SET Rating = 4.7 WHERE Title = '1984';
    UPDATE Books SET Rating = 4.5 WHERE Title = 'The Great Gatsby';
    """
    cursor.executescript(query)

OperationalError: duplicate column name: Rating

In [14]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    query = """
    SELECT * FROM Books ORDER BY Year_published DESC;
    """
    data = cursor.execute(query)
data.fetchall()

[('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8),
 ('1984', 'George Orwell', 1949, 'Dystopian', 4.7),
 ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic', 4.5)]