In [28]:
import sqlite3

In [34]:
with sqlite3.connect('roster.db') as conn:
    cursor = conn.cursor()
    # Create the Roster table
    query = "CREATE TABLE IF NOT EXISTS Roster(Name TEXT, Species TEXT, Age INTEGER)"
    cursor.execute(query)

In [42]:
with sqlite3.connect("roster.db") as conn:
    cursor = conn.cursor()
    # Insert data into the Roster table
    query = """
    INSERT INTO Roster Values
    ('Benjamin Sisko',	'Human', 40),
    ('Jadzia Dax', 'Trill',	300),
    ('Kira Nerys',	'Bajoran',	29);
    """
    cursor.executescript(query)

In [44]:
with sqlite3.connect('roster.db') as conn:
    # Updates certain data
    cursor = conn.cursor()
    query = """
    UPDATE Roster SET Name = 'Ezri Dax' WHERE Name = 'Jadzia Dax'
    """
    cursor.execute(query)

In [48]:
with sqlite3.connect('roster.db') as conn:
    # Prints the data
    cursor = conn.cursor()
    query = """
    SELECT Name, Age FROM Roster WHERE Species = 'Bajoran';
    """
    data = cursor.execute(query)
data.fetchall()

[('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29),
 ('Kira Nerys', 29)]

In [52]:
with sqlite3.connect('roster.db') as conn:      # deletes the data
    cursor = conn.cursor()
    query = """
    DELETE FROM Roster
    WHERE Age > 100;
    """
    cursor.execute(query)

In [62]:
with sqlite3.connect('roster.db') as conn:
    cursor = conn.cursor()
    query = """
    ALTER TABLE Roster ADD COLUMN Rank text;
    UPDATE Roster SET Rank = 'Captain' WHERE Name = 'Benjamin Sisko';
    UPDATE Roster
    SET Rank = 'Lieutenant'
    where Name = 'Ezri Dax';
    UPDATE Roster
    SET Rank = 'Major'
    where Name = 'Kira Nerys';
    """
    cursor.executescript(query)

In [63]:
with sqlite3.connect('roster.db') as conn:
    cursor = conn.cursor()
    query = """
    SELECT * FROM Roster
    ORDER BY Age DESC;
    """
    data = cursor.execute(query)
data.fetchall()

[('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major'),
 ('Kira Nerys', 'Bajoran', 29, 'Major')]