In [ ]:
import sqlite3
import pandas as pd
import numpy as np

Part 1

In [ ]:
with sqlite3.connect('chinook.db') as connection:
    df_customers = pd.read_sql(
        "SELECT * FROM customers",
        con = connection
    )
    df_customers.head(10)

In [ ]:
df_iris = pd.read_json('iris.json')
df_iris.shape()
df_iris.columns()

In [ ]:
df_titanic = pd.read_excel('titanic.xlsx')
df_titanic.head()

In [ ]:
data = pd.read_parquet('flights')
data.info()

In [ ]:
datas = pd.read_csv('movie.csv')
datas.sample(10)

Part 2

In [ ]:
df_iris = pd.read_json('iris.csv')
df_iris.columns= [column.lower() for column in df_iris.coumns]
df_iris[['sepal_length', 'sepal_width']]

In [ ]:
df_titanic = pd.read_excel('titanic.xlsx')
print(df_titanic[df_titanic["Age"]>30])
print(df_titanic['Sex'].value_counts())

In [ ]:
data = pd.read_parquet('flights')
columns = data[['origin', 'dest', 'carrier']]
columns['dest'].nunique()

In [ ]:
movies = pd.read_csv('movies')
filtered_movies = movies[movies['duration']>120]
print(filtered_movies.sort_values(by = 'director_facebook_likes', ascending = False))

Part 3

In [ ]:
iris_nums = df_iris.select_dtypes('number')

iris_nums.mean()
iris_nums.median()
iris_nums.std()

In [ ]:
min_age = df_titanic['Age'].min()
max_age = df_titanic['Age'].max()
sum_age = df_titanic['Age'].sum()

In [ ]:
movies = pd.read_csv('movies')
top_director = movies.groupby('director_name')['director_facebook_likes'].sum().idmax()
top_likes = movies.groupby("director_name")["director_facebook_likes"].sum().max()
longest_movies = movies.nlargest(5, 'duration')

In [ ]:
flights_df = pd.read_parquet('flights')

num_cols = flights_df.select_dtypes(include=[np.number]).columns
for col in num_cols:
    if flights_df[col].isnull().any():
        flights_df[col].fillna(flights_df[col].mean(), inplace=True)