In [1]:
import pandas as pd
import sqlite3

from pandas import read_csv

In [6]:
with sqlite3.connect('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/chinook.db') as con:
    df_customers = pd.read_sql('SELECT * FROM customers', con = con)
    df_invoices = pd.read_sql('SELECT * FROM invoices', con = con)
merge = pd.merge(df_customers, df_invoices, on = 'CustomerId')
invoices = df_invoices['CustomerId'].value_counts().reset_index()
print(invoices)

    CustomerId  count
0            2      7
1            5      7
2           53      7
3            6      7
4           29      7
5           30      7
6           32      7
7           44      7
8            9      7
9           11      7
10          47      7
11          49      7
12          26      7
13          28      7
14           7      7
15          50      7
16          43      7
17          45      7
18          22      7
19          24      7
20           1      7
21           3      7
22          39      7
23          41      7
24          18      7
25          20      7
26          56      7
27          58      7
28          51      7
29          27      7
30           4      7
31          21      7
32           8      7
33          14      7
34          23      7
35          37      7
36          38      7
37          40      7
38          42      7
39          46      7
40          52      7
41          16      7
42          17      7
43          19      7
44          25      7
45          15      7
46          31      7
47          54      7
48          55      7
49          57      7
50          10      7
51          33      7
52          34      7
53          36      7
54          48      7
55          12      7
56          13      7
57          35      7
58          59      6

In [14]:
df1_movie = pd.read_csv('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/movie.csv')[['director_name', 'color']]
df2_movie = pd.read_csv('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/movie.csv')[['director_name', 'num_critic_for_reviews']]

left_join = pd.merge(df1_movie, df2_movie, on = 'director_name', how = 'left')
outer_join = pd.merge(df1_movie, df2_movie, on = 'director_name', how='outer')

print(left_join.shape[0])
print(outer_join.shape[0])

30300
30300

In [21]:
df_titanic = pd.read_excel('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/titanic.xlsx')
avg_age = df_titanic.groupby('Pclass')['Age'].mean()
total_fare = df_titanic.groupby('Pclass')['Fare'].sum()
passengers = df_titanic.groupby('Pclass')['Pclass'].count()

res = pd.DataFrame({
    'Average age': avg_age,
    'Total fare': total_fare,
    'Count of passengers': passengers
}).reset_index()

print(res)

   Pclass  Average age  Total fare  Count of passengers
0       1    38.233441  18177.4125                  216
1       2    29.877630   3801.8417                  184
2       3    25.140620   6714.6951                  491

In [23]:
df_movie = pd.read_csv('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/movie.csv')
df_movie = df_movie.groupby(['color', 'director_name'])[['num_critic_for_reviews', 'duration']].agg({
    'num_critic_for_reviews' : 'sum',
    'duration': 'mean'
})
df_movie

                                    num_critic_for_reviews  duration
color           director_name
Black and White Akira Kurosawa                       153.0     202.0
                Aleksey German                       121.0     177.0
                Alex Garland                         489.0     108.0
                Alexander Payne                      433.0     115.0
                Alfred Hitchcock                     434.0     119.0
...                                                    ...       ...
Color           Zoran Lisinac                         17.0     108.0
                Álex de la Iglesia                    71.0     104.0
                Émile Gaudreault                      67.0      92.0
                Éric Tessier                           9.0      99.0
                Étienne Faure                          9.0      98.0

[2490 rows x 2 columns]

In [38]:
df_flights = pd.read_parquet('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/flights')
num_flights = df_flights.shape[0]
avg_arr_delay = df_flights.groupby(['Year', 'Month'])[['ArrDelay', 'DepDelay']].agg({
    'ArrDelay':'mean',
    'DepDelay': 'max'
})

print(avg_arr_delay)

TypeError: agg function failed [how->mean,dtype->object]

In [41]:
df_titanic = pd.read_excel('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/titanic.xlsx')
def categorize(x):
    if x>18:
        return 'Adult'
    return 'Child'
new_clm = df_titanic['Age'].apply(categorize)
df_titanic['Age group'] = new_clm
print(df_titanic)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked Age group
0        0         A/5 21171   7.2500   NaN        S     Adult
1        0          PC 17599  71.2833   C85        C     Adult
2        0  STON/O2. 3101282   7.9250   NaN        S     Adult
3        0            113803  53.1000  C123        S     Adult
4        0            373450   8.0500   NaN        S     Adult
..     ...               ...      ...   ...      ...       ...
886      0            211536  13.0000   NaN        S     Adult
887      0            112053  30.0000   B42        S     Adult
888      2        W./C. 6607  23.4500   NaN        S     Child
889      0            111369  30.0000  C148        C     Adult
890      0            370376   7.7500   NaN        Q     Adult

[891 rows x 13 columns]

In [42]:
df_employee = pd.read_csv('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/employee.csv')
df_employee['Normalized Salary'] = df_employee.groupby('DEPARTMENT')['BASE_SALARY'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)
print(df_employee)

      UNIQUE_ID               POSITION_TITLE                     DEPARTMENT  \
0             0  ASSISTANT DIRECTOR (EX LVL)    Municipal Courts Department
1             1            LIBRARY ASSISTANT                        Library
2             2               POLICE OFFICER  Houston Police Department-HPD
3             3            ENGINEER/OPERATOR  Houston Fire Department (HFD)
4             4                  ELECTRICIAN    General Services Department
...         ...                          ...                            ...
1995       1995               POLICE OFFICER  Houston Police Department-HPD
1996       1996       COMMUNICATIONS CAPTAIN  Houston Fire Department (HFD)
1997       1997               POLICE OFFICER  Houston Police Department-HPD
1998       1998               POLICE OFFICER  Houston Police Department-HPD
1999       1999                 FIRE FIGHTER  Houston Fire Department (HFD)

      BASE_SALARY                       RACE EMPLOYMENT_TYPE  GENDER  \
0        121862.0            Hispanic/Latino       Full Time  Female
1         26125.0            Hispanic/Latino       Full Time  Female
2         45279.0                      White       Full Time    Male
3         63166.0                      White       Full Time    Male
4         56347.0                      White       Full Time    Male
...           ...                        ...             ...     ...
1995      43443.0                      White       Full Time    Male
1996      66523.0  Black or African American       Full Time    Male
1997      43443.0                      White       Full Time    Male
1998      55461.0     Asian/Pacific Islander       Full Time    Male
1999      51194.0            Hispanic/Latino       Full Time    Male

     EMPLOYMENT_STATUS   HIRE_DATE    JOB_DATE  Normalized Salary
0               Active  2006-06-12  2012-10-13           1.000000
1               Active  2000-07-19  2010-09-18           0.000000
2               Active  2015-02-03  2015-02-03           0.116351
3               Active  1982-02-08  1991-05-25           0.192491
4               Active  1989-06-19  1994-10-22           0.479189
...                ...         ...         ...                ...
1995            Active  2014-06-09  2015-06-09           0.105837
1996            Active  2003-09-02  2013-10-06           0.210879
1997            Active  2014-10-13  2015-10-13           0.105837
1998            Active  2009-01-20  2011-07-02           0.174655
1999            Active  2009-01-12  2010-07-12           0.126914

[2000 rows x 11 columns]

In [48]:
def categorize_duration(x):
    if x<60:
        return 'short'
    elif x>=60 and x<=120:
        return 'medium'
    return 'long'

df_movie = pd.read_csv('/Users/behruz/PycharmProjects/pyCourse/lesson-17/data/movie.csv')
df_movie['duration_category'] = df_movie['duration'].apply(categorize_duration)
print(df_movie)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
4911  Color        Scott Smith                     1.0      87.0
4912  Color                NaN                    43.0      43.0
4913  Color   Benjamin Roberds                    13.0      76.0
4914  Color        Daniel Hsia                    14.0     100.0
4915  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
4911                      2.0                   318.0     Daphne Zuniga
4912                      NaN                   319.0     Valorie Curry
4913                      0.0                     0.0     Maxwell Moody
4914                      0.0                   489.0     Daniel Henney
4915                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
4911                   637.0          NaN                     Comedy|Drama
4912                   841.0          NaN     Crime|Drama|Mystery|Thriller
4913                     0.0          NaN            Drama|Horror|Thriller
4914                   946.0      10443.0             Comedy|Drama|Romance
4915                    86.0      85222.0                      Documentary

      ... language country  content_rating       budget title_year  \
0     ...  English     USA           PG-13  237000000.0     2009.0
1     ...  English     USA           PG-13  300000000.0     2007.0
2     ...  English      UK           PG-13  245000000.0     2015.0
3     ...  English     USA           PG-13  250000000.0     2012.0
4     ...      NaN     NaN             NaN          NaN        NaN
...   ...      ...     ...             ...          ...        ...
4911  ...  English  Canada             NaN          NaN     2013.0
4912  ...  English     USA           TV-14          NaN        NaN
4913  ...  English     USA             NaN       1400.0     2013.0
4914  ...  English     USA           PG-13          NaN     2012.0
4915  ...  English     USA              PG       1100.0     2004.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
0                      936.0        7.9         1.78                 33000
1                     5000.0        7.1         2.35                     0
2                      393.0        6.8         2.35                 85000
3                    23000.0        8.5         2.35                164000
4                       12.0        7.1          NaN                     0
...                      ...        ...          ...                   ...
4911                   470.0        7.7          NaN                    84
4912                   593.0        7.5        16.00                 32000
4913                     0.0        6.3          NaN                    16
4914                   719.0        6.3         2.35                   660
4915                    23.0        6.6         1.85                   456

     duration_category
0                 long
1                 long
2                 long
3                 long
4                 long
...                ...
4911            medium
4912             short
4913            medium
4914            medium
4915            medium

[4916 rows x 29 columns]

In [49]:
def filter_survivors(x):
    return x[x['Survived'] == 1]

def fill_missing_age(x):
    mean_age = x['Age'].mean()
    return x.assign(Age = x['Age'].fillna(mean_age))

def add_fare_per_age(x):
    x['Fare_Per_Age'] = x['Fare']/x['Age']
    return x

df_titanic_final = (
    df_titanic.pipe(filter_survivors)
    .pipe(fill_missing_age)
    .pipe(add_fare_per_age)
    )

print(df_titanic_final)

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked Age group  Fare_Per_Age
1        0          PC 17599  71.2833   C85        C     Adult      1.875876
2        0  STON/O2. 3101282   7.9250   NaN        S     Adult      0.304808
3        0            113803  53.1000  C123        S     Adult      1.517143
8        2            347742  11.1333   NaN        S     Adult      0.412344
9        0            237736  30.0708   NaN        C     Child      2.147914
..     ...               ...      ...   ...      ...       ...           ...
875      0              2667   7.2250   NaN        C     Child      0.481667
879      1             11767  83.1583   C50        C     Adult      1.484970
880      1            230433  26.0000   NaN        S     Adult      1.040000
887      0            112053  30.0000   B42        S     Adult      1.578947
889      0            111369  30.0000  C148        C     Adult      1.153846

[342 rows x 14 columns]

In [57]:
df_flights["DepDelay"] = pd.to_numeric(df_flights["DepDelay"], errors="coerce")
df_flights["AirTime"] = pd.to_numeric(df_flights["AirTime"], errors="coerce")


filtered_flights = (
    df_flights[df_flights["DepDelay"] > 30]
    .assign(Delay_Per_Hour=lambda df: df["DepDelay"] / df["AirTime"])
    .dropna(subset=["Delay_Per_Hour"])  # Drop rows with NaN values
)

print(filtered_flights.head())

    Year Quarter Month DayofMonth DayOfWeek  FlightDate Reporting_Airline  \
11  2022       2     4         26         2  2022-04-26                OH
32  2022       2     4         13         3  2022-04-13                OH
33  2022       2     4         14         4  2022-04-14                OH
37  2022       2     4         18         1  2022-04-18                OH
44  2022       2     4         25         1  2022-04-25                OH

   DOT_ID_Reporting_Airline IATA_CODE_Reporting_Airline Tail_Number  ...  \
11                    20397                          OH      N572NN  ...
32                    20397                          OH      N576NN  ...
33                    20397                          OH      N559NN  ...
37                    20397                          OH      N559NN  ...
44                    20397                          OH      N556NN  ...

   Div4TailNum Div5Airport Div5AirportID Div5AirportSeqID Div5WheelsOn  \
11        None        None          None             None         None
32        None        None          None             None         None
33        None        None          None             None         None
37        None        None          None             None         None
44        None        None          None             None         None

   Div5TotalGTime Div5LongestGTime Div5WheelsOff Div5TailNum Delay_Per_Hour
11           None             None          None        None       0.507463
32           None             None          None        None       1.333333
33           None             None          None        None       0.944444
37           None             None          None        None       1.696970
44           None             None          None        None       1.914286

[5 rows x 110 columns]